/*
  article.css
*/
.foreground.article
{
  padding:10px;
}

.title
{
  font-weight:bold;
  font-size:150%;
  padding: 0 0 1%;
}
.title.center
{
  text-align:center;
}
.title.left
{
  text-align:left;
}
.date
{
  padding: 0 0 1%;
}

.content h3
{
  margin:0 0 3px!important;
  padding:0 0 3px!important;
}
.container
{
  margin:0 0 20px;
}
#comment_form
{
  display:none;
}
