/*
  article.css
*/
.foreground.article
{
  padding:10px;
}

.title
{
  font-weight:bold;
  font-size:150%;
  padding: 0 0 1%;
}
.title.center
{
  text-align:center;
}
.title.left
{
  text-align:left;
}
.article .date
{
  padding: 0 0 1%;
}

.content h3
{
  margin:0 0 3px!important;
  padding:0 0 3px!important;
}
.container
{
  margin:0 0 20px;
}
#panel
{
  padding:10px;
  height:30px;
}
#panel #counter
{
  float:right;
  line-height:30px;
}

#comment_form_container
{
  padding:10px;
  display:none;
}
#comment_form #buttons
{
  float:right;
  height:30px;
}
#comment_form #bot,
#comment_form #count
{
  display:inline-block;
  width:49.5%;
}
#comment_form #bot
{
  color:#47CC80;
}
#comment_form #count
{
  text-align:right;
}
#count.valid
{
  color:#47CC80;
}
#count.invalid
{
  color:#ffbe59;
}

#comment_form .spacer
{
  clear:both;
}
.comments .comment
{
  padding:5px;
}
.comment .date
{
  float:right;
  font-size:80%;
}
.comment .name
{
  float:left;
  color:#47CC80;
}
.comment .content
{
  clear:both;
}

.comment:nth-child(even)
{

  background-color:#242424;
}
.comment:nth-child(odd)
{

  background-color:#202020;
}
.comment
{
  margin-bottom:5px;
}
.comment.active
{
  border:solid green 2px;
}

.js.error
{
  height:30px;
  line-height:30px;
}

