<div class='foreground comments container left column'>
  <div id='panel'>
    <input id='comment_button' type='button' value='post comment'/>
    <check if='{{isset(@comments)}}' >
      <div id='counter'>{{count(@comments)}} {{TemplateUtility::pluralize(count(@comments),"comment")}}</div>
    </check>
  </div>
  <include href='comment/form.html' />
  <check if='{{isset(@comments)}}' >
      <repeat group='{{ @comments }}' value='{{ @comment }}'>
        <include href='comment/single.html'/>
      </repeat>
  </check>
</div>
