
  <div class='article container'>
      <div class='category image border'  title='read'>
        <a href='{{@HOME}}article/{{@article->getTitle()}}' >
          <img class='category circle image small article_link' src='{{@HOME}}images/{{@article->retrieveCategoryImage()}}'/>
        </a>
      </div>
      <div class='foreground border' title='read'>
        <a href='{{@HOME}}article/{{@article->getTitle()}}' >
          <div class='foreground article content article_link' article_id='{{@article->getId()}}' datetime='{{@article->getDateTime()}}'>
            <div class='title'>
              <span class='spacer'></span>
              {{@article->retrieveCleanTitle()}}
            </div>
            <div class='date'>
              {{@article->formatDate()}}
            </div>
            <div class='content'>
              {{@article->retrieveContentSnippet()}}
            </div>
          </div>
        </a>
      </div>
  </div>
