<div class='center column'>
  <div class='banner'>
    Clem Davies
  </div>
  <div>
    <a class='icon'  href='{{@HOME}}' title='home'>
        <img class='image' src='{{@HOME}}images/home_icon_black.png' alternate='{{@HOME}}images/home_icon_white.png' alt='home' />
    </a>
    <a class='icon'  href='{{@HOME}}archive' title='archive'>
        <img class='image' src='{{@HOME}}images/archive_icon_black.png' alternate='{{@HOME}}images/archive_icon_white.png' alt='archive' />
    </a>
    <a class='icon' href='{{@HOME}}contact' title='contact'>
        <img class='image' src='{{@HOME}}images/contact_icon_black.png' alternate='{{@HOME}}images/contact_icon_white.png' alt='contact' />
    </a>
    <a class='icon' href='{{@HOME}}code' title='code'>
        <img class='image' src='{{@HOME}}images/code_icon_black.png' alternate='{{@HOME}}images/code_icon_white.png' alt='code' />
    </a>
    <check if='{{ Authenticate::ifAdmin(@FFF) }}'>
      <a class='icon' href='{{@HOME}}admin/dashboard' title='dashboard'>
          <img class='image' src='{{@HOME}}images/cog_black.png' alternate='{{@HOME}}images/cog_white.png' alt='dashboard' />
      </a>
    </check>
  </div>
</div>
