<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN''http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
  <include href='template/head.html' />
  <body class='background'>
    <div class='wrapper'>
        <div  id='container' class='main clearfix'>
        <check if='{{isset(@adminMessage)}}'>
          <div class='admin_message'>{{@adminMessage}}</div>
        </check>
            <div name='top' class='highlight header'>
                <include href='template/header.html'/>
            </div>
            <div class='content center column'>
                {{@content | raw}}
            </div>
        </div>
    </div>
  </body>
</html>
