# config files
/config.*

# uploaded files
/file/*

# images
/images/*

# tmp files
/tmp/*

# generated saved files
*.*~

#encryp
/app/class/model/PasswordHash.php

#secondary app
/app/expansive/*
/app/views/expansive/*
/css/expansive/*
