<div class='article container'>
  <div class='category image container'>
    <img class='category circle image large' src='{{@HOME}}images/{{@article->retrieveCategoryImage()}}'/>
  </div>

  <div class='foreground  article'>
    <div id='article_info' article-id='{{@article->getId()}}' datetime='{{@article->getDateTime()}}'>
      <check if='{{Authenticate::ifAdmin(@FFF)}}'>
        <div class='admin'>
          <div class='controls'>
            <input id='edit' type='button' value='edit' />
            <input id='delete' type='button' value='delete' />
          </div>
        </div>
      </check>
      <div class='title'>
        {{@article->retrieveCleanTitle()}}
      </div>
      <div class='date'>
        {{@article->formatDate()}}
      </div>
      <div class='content'>
        {{@article->getContent()}}
      </div>
    </div>
  </div>
</div>

<include href='comment/feed.html' />

<check if='{{Authenticate::ifAdmin(@FFF)}}'>
    <div class='alert'>
      <h2>Are you sure you want to delete this article/thought?</h2>
      <input id='yes' type='button' value='yes'/>
      <input id='no' type='button' value='no'/>
    </div>
</check>
