
<check if='{{isset(@error)}}' >
  <h2>{{@error}}</h2>
</check>

<div>
<check if='{{isset(@clients)}}' >
  <true>
    <repeat group='{{@clients}}' value='{{@client}}'>
      <div class='client box'>
        <a href='{{@EXPHOME}}client/{{@client->getId()}}'>
          <div>id: {{@client->getId()}}</div>

          <span>type: </span>
          <check if='{{@client->getTypes()}}' >
            <true>
              <repeat group='{{@client->getTypes()}}' value='{{@type}}'>
                <span>{{@type->getName()}} </span>
              </repeat>
            </true>
            <false>
              <span>none</span>
            </false>
          </check>

          <div>firstName: {{@client->getName()->getFirst()}}</div>
          <div>lastName: {{@client->getName()->getLast()}}</div>
        </a>
      </div>
    </repeat>
  </true>
  <false>No clients</false>
</check>
</div>
