<br />
<div>
  <div class='title'>clients</div>
  <ul>
    <li>select all
    <ul>
        <li><a href='{{@EXPHOME}}clients'>clients</a></li>
        <li><a href='{{@EXPHOME}}clients/unassigned'>unassigned</a></li>
  <check if='{{isset(@types)}}' >
    <repeat group='{{@types}}' value='{{@type}}'>
      <li><a href='{{@EXPHOME}}clients/{{@type->getName()}}'>{{@type->getName()}}s</a></li>
    </repeat>
  </check>
  <check if='{{isset(@attributes)}}' >
    <repeat group='{{@attributes}}' value='{{@attribute}}'>
      <li><a href='{{@EXPHOME}}clients/{{@attribute->getName()}}'>{{@attribute->getName()}}s</a></li>
    </repeat>
  </check>
    </ul>
    <li>create new
      <ul>
        <li><a href='{{@EXPHOME}}new/client'>client</a></li>
        <li><a href='{{@EXPHOME}}new/client/type'>client-type</a></li>
        <li><a href='{{@EXPHOME}}new/client/attribute'>client-attribute</a></li>
      </ul>
    </li>
  </ul>
</div>
<br />
<div>
  <div class='title'>properties</div>
  <ul>
    <li>select all
      <ul>
        <li><a href='{{@EXPHOME}}properties'>properties</a></li>
        <li><a href='{{@EXPHOME}}properties/unassigned/features'>unassigned features</a></li>
        <li><a href='{{@EXPHOME}}properties/unassigned/styles'>unassigned styles</a></li>

        <check if='{{isset(@features)}}'>
          <repeat group='{{@features}}' value='{{@feature}}'>
            <li><a href='{{@EXPHOME}}properties/{{@feature->getName()}}'>{{@feature->getName()}} features</a></li>
          </repeat>
        </check>

        <check if='{{isset(@styles)}}'>
          <repeat group='{{@styles}}' value='{{@style}}'>
            <li><a href='{{@EXPHOME}}properties/{{@style->getName()}}'>{{@style->getName()}} styles</a></li>
          </repeat>
        </check>
      </ul>
    </li>
    <li>create new
      <ul>
        <li><a href='{{@EXPHOME}}new/property'>property</a></li>
        <li><a href='{{@EXPHOME}}new/property/feature'>property-feature</a></li>
        <li><a href='{{@EXPHOME}}new/property/style'>property-style</a></li>
      </ul>
    </li>
  </ul>
</div>
