<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN''http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
  <include href='expandata/head.html' />
  <body class='background'>
    <div class='wrapper'>
        <div  id='container' class='main clearfix'>
            <div name='top' class='highlight header'>
                <include href='expandata/header.html'/>
            </div>
            <div class='content center column'>
              <check if='{{isset(@title)}}'>
                <div class='title'>{{@title}}</div>
              </check>
              {{@content | raw}}
            </div>
        </div>
    </div>
  </body>
</html>
