
<div class='window'>
  <div class='page title'>{{@title}}</div>

  <div class='content'>
    <div class='subtitle'>Get in touch with me.</div>

    <div class='item'>
      <img href='mailto:contact@clemdavies.com?subject=contact' class='circle image small' src='{{@HOME}}images/post.jpg'/>
      <div class='name'>email</div>
      <a href='mailto:contact@clemdavies.com?subject=contact'>contact@clemdavies.com</a>
    </div>

    <div class='item'><img class='circle image small' href='http://www.twitter.com/clemdavies' target='_blank' src='{{@HOME}}images/twitter.jpg'/>
      <div class='name'>twitter</div>
      <a href='http://www.twitter.com/clemdavies' target='__blank'>@clemdavies</a>
    </div>

  </div>
</div>
